@charset "ISO-8859-1";

.tasklist > li {
	margin-left:45px;
}


.flex {

	display:flex;
}

.wrapper{
	display:block;
	width:180px;
	background-color:red; 
}

.tasktitle{
	
	margin:0px;
	background-color: green; 
	margin-top:25px; 
	padding-left:5px;
	pointer-events: none;
}



.colorcode{
	display:inline-block;
	width:20px;
	height:20px;
	pointer-events: none;
}


.trashwrapper{
	
	background-color:purple; 
	width:70px; 
	text-align:center; 
	height:80px;
}

.trashicon{
	
	display:block; margin-top:30px;
	pointer-events:none;
}

.flextest{
	width:200px;
	height:100%;
	background-color: orange;
	
}

.datespan{
	pointer-events:none;
}

.timespan{
	margin-left:20px; 
	pointer-events:none;
}

/*  note: should be hidden*/
.hiddendiv{
	display:none;
}